<h1>Weather App</h1>
<div class="cityName">{{weatherData.names}}</div>
<div class="weatherTemp">
  <p *ngIf="!show">{{weatherData.temperature }}°C</p>
  <p *ngIf="show">{{weatherData.temperatureF}}F</p>
  <button (click)="show = !show" style="color:navy">°C/F</button></div>
<div class="weatherSummary">{{weatherData.summary}}</div>
<img [src]='weatherData.icon' alt="cloude"/>

